p {
  color: #ffc0b4;
}

.kotak {
  width: 250px;
  height: 250px;
  background-color: salmon;
  color: white;
  text-align: center;
  line-height: 250px;
  margin: 50px auto;
}

body {
  background-color: #034c52;
}
